body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
  background-color: cadetblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.players {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.user {
  color: red;
}

.opponent {
  color: blue;
}

.btn {
  width: 80px;
  height: 40px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 50%;
}

.field {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: auto;
}

.box {
  width: 80px;
  height: 80px;
  background-color: gold;
  border: 1px solid black;
}
